<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather-app-logo.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site is created by Varous. It uses data from weatherstack api and positionstack api. </p>
        <img class="portrait" src="/img/Luffy.jpg">
    </div>
    
    {{>footer}}
</body>

</html>